# Analyzing CDC excess deaths by age and sex

### Import Python tools and Jupyter configuration

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
import altair as alt
import altair_latimes as lat

In [4]:
alt.themes.register("latimes", lat.theme)
alt.themes.enable("latimes")

ThemeRegistry.enable('latimes')

In [5]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()
pd.set_option("display.max_colwidth", None)

In [7]:
url = "https://data.cdc.gov/api/views/m74n-4hbs/rows.csv?accessType=DOWNLOAD"

In [8]:
df = pd.read_csv(url)

In [9]:
df.head()

,AnalysisDate,Time Period,MMWRyear,MMWRweek,Weekending,RaceEthnicity,Sex,AgeGroup,Deaths (weighted),COVID19 (weighted),Deaths (unweighted),COVID19 (unweighted),Average number of deaths (weighted),Average number of deaths (unweighted),Number above average (weighted),Percent above average (weighted),Number above average (unweighted),Percent above average (unweighted),Footnote,Geography
0,04/04/2021,2015-2019,2015,1,01/10/2015,All Race/Ethnicity Groups,All Sexes,0-14 Years,624,0,624,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
1,04/04/2021,2015-2019,2016,1,01/09/2016,All Race/Ethnicity Groups,All Sexes,0-14 Years,617,0,617,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
2,04/04/2021,2015-2019,2017,1,01/07/2017,All Race/Ethnicity Groups,All Sexes,0-14 Years,614,0,614,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
3,04/04/2021,2015-2019,2018,1,01/06/2018,All Race/Ethnicity Groups,All Sexes,0-14 Years,634,0,634,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
4,04/04/2021,2015-2019,2019,1,01/05/2019,All Race/Ethnicity Groups,All Sexes,0-14 Years,586,0,586,0,615,615,NaN,NaN,NaN,NaN,NaN,United States

In [10]:
df.columns = (
    df.columns.str.strip()
    .str.lower()
    .str.replace(" ", "_", regex=False)
    .str.replace(":", "", regex=False)
    .str.replace("/", "_", regex=False)
    .str.replace(",", "_", regex=False)
    .str.replace("*", "", regex=False)
    .str.replace("(s)", "s", regex=False)
)

In [11]:
df.head()

,analysisdate,time_period,mmwryear,mmwrweek,weekending,raceethnicity,sex,agegroup,deaths_(weighted),covid19_(weighted),deaths_(unweighted),covid19_(unweighted),average_number_of_deaths_(weighted),average_number_of_deaths_(unweighted),number_above_average_(weighted),percent_above_average_(weighted),number_above_average_(unweighted),percent_above_average_(unweighted),footnote,geography
0,04/04/2021,2015-2019,2015,1,01/10/2015,All Race/Ethnicity Groups,All Sexes,0-14 Years,624,0,624,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
1,04/04/2021,2015-2019,2016,1,01/09/2016,All Race/Ethnicity Groups,All Sexes,0-14 Years,617,0,617,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
2,04/04/2021,2015-2019,2017,1,01/07/2017,All Race/Ethnicity Groups,All Sexes,0-14 Years,614,0,614,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
3,04/04/2021,2015-2019,2018,1,01/06/2018,All Race/Ethnicity Groups,All Sexes,0-14 Years,634,0,634,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
4,04/04/2021,2015-2019,2019,1,01/05/2019,All Race/Ethnicity Groups,All Sexes,0-14 Years,586,0,586,0,615,615,NaN,NaN,NaN,NaN,NaN,United States